dependency-reduced-pom.xml
*.class
/.settings
/dist
/target
/.classpath
/target
banned-ips.txt
banned-players.txt
bukkit.yml
help.yml
logs/latest.log
ops.txt
permissions.yml
server.properties
white-list.txt
world/data/Fortress.dat
world/data/Mineshaft.dat
world/data/villages.dat
world/level.dat
world/region/r.-1.0.mca
world/session.lock
world/uid.dat
world_nether/DIM-1/region/r.-1.-1.mca
world_nether/DIM-1/region/r.-1.0.mca
world_nether/DIM-1/region/r.0.-1.mca
world_nether/DIM-1/region/r.0.0.mca
world_nether/level.dat
world_nether/session.lock
world_nether/uid.dat
world_the_end/DIM1/region/r.-1.-1.mca
world_the_end/DIM1/region/r.-1.0.mca
world_the_end/DIM1/region/r.0.-1.mca
world_the_end/DIM1/region/r.0.0.mca
world_the_end/level.dat
world_the_end/session.lock
world_the_end/uid.dat
